body{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(182, 182, 236, 0.11);
    
}

section#page{
    width: 70%;
    margin: auto;
}

h1{
    font-size: 2.5em;
}

h2{
    font-size: 1.8em;
}

h3{
    font-size: 1.2em;
}

p{
    font-size: 1.2em;
}